/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

*= require bootstrap

body{
	background-color: yellow;
}

#banner {
	background: white;
	margin-bottom: 2px;
}

#banner img {
		border-top-left-radius: 35px;
		border-top-right-radius: 35px;
		border-bottom-right-radius: 120px;
		border-bottom-left-radius: 120px;

		
}

#notice {
	color: #2E251C !important;
	
}

#menu {
	height: 50px;
	margin-bottom: 5px;
	margin-top: 1px;
	
}

#menu ul {

	list-style-type: none;
	margin-left:100px;
	padding: 0px;
}

#menu ul li {
	display: inline;
	padding: 0px;
	margin:0px;
}

#menu ul li a{
	width: 200px;
	height: 50px;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

#menu ul li a img{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 35px;
		border-bottom-left-radius: 35px;
}

#menu ul li a img:hover{
	border-radius: 9px;
	border-style:2px solid  #875559;

}


#main {
	border-radius: 25px;
	font-size: 14px;
	background: #8c867e;
	color: #875559;
	margin:20px;
}

