/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*================================================================================================*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6B5656;
}

a {
  color: #8A2E2E;
  text-decoration: none;
  font-size: 1.6em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5em;
  color: #6B5656;
}

p {
  font-size: 1.3em;
}

img,
video {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 200px;
  margin-top: 0.6em;
  /*margin-bottom: 3.6em;*/
}

.banner {
  /*margin-bottom: 0.6em;*/
  position: relative;
  width: 100%;
  border-radius: 4px 4px 200px 200px;
}

.menu {
  width: 100%;
  font-size: 3em;
  margin-bottom: 0.6em;
  color: #7A2929;

}

.menu ul {
  width: 100%;
  text-align: center;
}

.menu li {
  margin-left: 0.1em;
  display: inline-block;
}

.menu li a {
  color: #7A2929;
  text-decoration: none;
}


.conteudo {
	margin-top: 14em;
}

.coluna {
    width: 20%; /* 240px / 1200px */
    float: left;
    margin-bottom: 2em;
    /*margin-right: 0.025%; /* 24 / 1128px */
}

.coluna:last-child {
    margin-right: 0;
}

.footer {
  width: 100%;
  margin-top: 2.4em;
  margin-bottom: 2.4em;
  float: left;
  clear: both;
}

.footer p {
	font-size: 1em;
}


.btn-simples {
	height: 30px;
	padding: 5px 10px;
	font-size: 1em;
	color: white;
	background-color: #8D1919;
	border-radius: 7px;
	text-align: center;
	margin-bottom: 1em;
}

.btn-simples:hover {
	background-color: #B36666;
}

@keyframe animaMenu {

	from {
		background-color: #E1DDDD;
	}
	
	to {
		background-color: #766B6B;
	}

}

.btn-menu {
	color: #7A2929;
	background-color: #E1DDDD;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 3px 3px 50px 50px;
}


.btn-menu:hover {
	animation-name: animaMenu;
	animation-timing-function: ease;
	animation-duration: 5s;
   	animation-delay: 1s;
   	animation-iteration-count: infinite;
   	animation-direction: alternate;
   	animation-play-state: running
	color: #F1E2E2;
	background-color: #766B6B;
}


.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}


.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

