// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carrinho {

	p {
		font-size: 1em;
	}

	h2{
		
	}

	table {
		width: 100%;
	}

	.linhaD {
		background-color: #fcd;
	}

	.linhaN {
		background-color: #FFF;
	}

	.precoTotal {
		background-color: #AAA;
	}
}