// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: #875558;
}

p {
	color: #875558;
}

.products{

	
	table {
		background-color: #8c867e;
		width:1024px;
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical_align: top;
	}

	.list_image{
		width: 70px;
		height: 100px;
	}

	.list_description{
		width: 100%;

	dl {
		margin: 10px;
	}

	dt {
		color: #8c867e;
		font-weight: bold;
		font-size: larger;
	}

	dd {
		margin:10px;
	}

 }

.list_actions {
	background-color: #d8d8d8;
	font-size: 20px;;
	text-align: right;
	padding-left: 1em;
}

.list_line_even {
	background: #D3BFB6;
}

.list_line_odd {
	background: #756A65;
}

.list_qtd_vazio {
	background: #D63333;
}


}