// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products{

	p {
		font-size: 1.4em;
		color: #6B5656;
	}
	
	h1{
		font-size: 1.6em;
		color: #6B5656;
	}
	
	table {
		width:100%;
		
	}

	table tbody{
		margin-left: 0;
		
	}

	table tr td {
		margin-top:3px;
		padding: 0px;
		
	}

	.list_image{
		width: 60%;
		height: auto;
		box-shadow: 10px 10px 5px #888888;
		border-radius: 10px;
	}

	.list_description{
		width: 60%;
		font-size: 1.3em;
		
		dt {
			color: #6B5656;
			font-weight: bold;
			font-size: 1.3em;
		}

		dd {
			height: 70px;
			
		}

 	}

	.list_actions {
		text-align: center;
		padding-left: 1em;
		margin-right: 5px;
	
	}

	.list_line_even {
		width:100%;
		background: #A69A9A;
	}

	.list_line_odd {
		width:100%;
		background:white;
	}

	.list_qtd_vazio {
		width:100%;
		background: #D63333;
	}


}

.cadastro {
	width: 58%;
	padding: 50px;
	margin-left: 200px;
	background-color: #E1DDDD;
	border-radius: 20px;
}
