<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>


<h2>Edição de Produtos</h2>

<%= render 'form' %>

<%= link_to 'Voltar', products_path , class: 'btn btn-primary'%>


